<h1>Listing jewels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Picture</th>
      <th>Description</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>Store</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @jewels.each do |jewel| %>
      <tr>
        <td><%= jewel.name %></td>
        <td><%= jewel.picture %></td>
        <td><%= jewel.description %></td>
        <td><%= jewel.price %></td>
        <td><%= jewel.quantity %></td>
        <td><%= jewel.store %></td>
        <td><%= link_to 'Show', jewel %></td>
        <td><%= link_to 'Edit', edit_jewel_path(jewel) %></td>
        <td><%= link_to 'Destroy', jewel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Jewel', new_jewel_path %>
